   <div class="logo-container">
     <a href="../index.html" onclick="return handleNavigation('../index.html')">
     <img class="header-logo" src="../assets/icons/haus.svg" alt="header-logo" />
     </a>
   </div>

    <h1>Mampfen-rando</h1>

    <div class="menu-bar">
      <a href="../pages/products.html"
        onclick="return handleNavigation('../pages/products.html')"
        >Produkte</a>
      <a href="../pages/contact.html"
        onclick="return handleNavigation('../pages/contact.html')"
        >Kontakt</a>
      <a href="../pages/about.html"
        onclick="return handleNavigation('../pages/about.html')"
        >Über uns</a>
    </div>

    <div class="d-none">
        <img class="mobile-menu" src="./assets/icons/bars-solid.svg" onclick="slideIn()">
        <div id="slide" class="overlay-menu">
          <a href="../pages/products.html" onclick="return handleNavigation('../pages/products.html')">Produkte</a>
          <a href="../pages/contact.html" onclick="return handleNavigation('../pages/contact.html')">Kontakt</a>
          <a href="../pages/about.html"onclick="return handleNavigation('../pages/about.html')">Über uns</a>
          <button onclick="closeMenu()" class="close-button">Close</button>
        </div>
    </div>

