<a href="../index.html" onclick="return handleNavigation('../index.html')">
  <img class="logo" src="../assets/icons/haus.svg" alt="Logo" />
</a>
<h1>Mampfen-rando</h1>

<nav>
  <ul>
    <li>
      <a
        href="../pages/products.html"
        onclick="return handleNavigation('../pages/products.html')"
        >Produkte</a
      >
    </li>
    <li>
      <a
        href="../pages/contact.html"
        onclick="return handleNavigation('../pages/contact.html')"
        >Kontakt</a
      >
    </li>
    <li>
      <a
        href="../pages/about.html"
        onclick="return handleNavigation('../pages/about.html')"
        >Über uns</a
      >
    </li>
  </ul>
</nav>
