.content-wrapper {
  width: calc(100% - 308px);
  display: flex;
}

/* section {
  display: block;
  unicode-bidi: isolate;
} */

.size-content {
  font-size: 48px;
  height: 300px;
  width: 100%;
  background-color: #124658;
  display: flex;
  background-size: cover;
  background-image: url("./../assets/img/pastaneu.png");
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
}

header {
  background-color: white;
  color: #ff8000;
  padding: 16px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
  font-weight: 540;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}
